<!DOCTYPE html>
<html>
<head>
  <title>CrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHlTZWZG8iPbFfII-FJ7N0fV3D1x_7Uiw"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
</head>
<body>

  <div class="container main">
    <nav class="navbar">
    <div class="container-fluid" id="opaque">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Toilet App
        </a>
      </div>
      <ul id="navbar">
        <li><a href="/">home</a></li>
        <!-- <li><a href="/users">users</a></li> -->
        <li><a href="/bathrooms">bathrooms</a></li>
        <% if current_user %>
          <li><a href="/users/profile">my profile</a></li>
          <li><a href="/logout">log out</a></li>
        <% else %>
          <li><a href="/login">log in</a></li>
          <li><a href="/signup">sign up</a></li>
        <% end %>
      </ul>
        </div>
      </nav>


    <%= yield %>

  </div>

</body>
</html>
