<h1>Search Results of Bathrooms!!</h1>
<h4>Time is <%= Time.now %></h4>

<% if @bathrooms.present? %>
  <% @bathrooms.each do |bathroom| %>
    <li><%= bathroom.id %>: <%= bathroom.name %></li>
  <% end %>
<% else %>
  <p>
    There were no results for <%= @search_term %>
  </p>
<% end %>
