  <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">

                      <h2>Welcome back, <%= @user.username %></h2>
                    	<p>Submit a new review</p>
                            <div class="input-set">
                      <form class="create-review" action="/api/reviews" method="post">
                        <input type="hidden" id='api-token' name="token" value="<%= @user.token %>">

                        <select name="review[rating]" id="review-rating" multiple class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        <select name="review[bathroom_id]" id="review-bathroom-id" class="form-control">
                              <% @bathrooms.each do |bathroom| %>
                                <option value="<%= bathroom.id %>">
                                  <%= bathroom.name %>
                                </option>
                              <% end %>
                            </select>
                        <input type="text" id="me-message" name="review[message]" placeholder="Your review here!">
                        <input type="submit" value="New review" class="btn btn-default">
                      </div>
                      </form>
                      <br>
                      <div class="input-set">
                      <section id="review-list">
                      </section>
                      </div>

                    </div>
                </div>
            </div>
        </div>
</div>
