<h1>welcome back, <%= @user.username %></h1>

<br>

    <form class="create-review" action="/api/reviews" method="post">
      <input type="hidden" id='api-token' name='token' value="<%= @user.token %>">
    <input type="text" id="me-message" name="review[message]" placeholder="Your review here!">
    <input type="submit" value="New review">
    </form>
<br>

<section id="review-list">
</section>
