/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, .wrapper {
   height: 100%;
 }
 #map {
   height: 500px;
 }
 #navbar {
   text-align: center;
   list-style-type: none;
   padding: 0;
 }
 #navbar li {
   display: inline-block;
   padding: 10px;
 }
 /*#countries-list {
   height: 600px;
   overflow: scroll;
   list-style-type: none;
 }
 #countries-list li {
   cursor: pointer;
 }
 #countries-list li:hover {
   background-color: lime;
 }*/
