/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Global styles */
 html, body {
 	height: 100%;
 	margin: 0px;
 	padding: 0px;
   }

 body {
 	/*font-family: "Open Sans", sans-serif;*/
 	/* font-family: 'Libre Baskerville', serif; */
  font: 1em/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
 	color: #686868;
 	font-size: 15px;
 	background-color: black;
 }
  a {
 	text-decoration: none;
 	color: #79accd;
 }

 a:hover {
 	color: #79accd;
 	text-decoration: underline;
 }

 h1, h2, h3, h4, h5, h6 {
 	margin-bottom: 17px;
 	font-weight: 300;
 	/* color: #ff5400; */
 }

 h1 {
 	font-size: 28px;
 }

 h2 {
 	font-size: 26px;
 }

 h3 {
 	font-size: 24px;
 	margin-bottom: 15px;
 }

 ul{
 	list-style-type: square;
 	margin-left: 60px;
 	margin-bottom: 30px;
 }

 ul li{
 	line-height: 1.9;
 }

 .zipSearch{
 	display: none;
 }

 /* Popup */
 .markerPop{

 }
  .remove {
    float: right;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 1;
    color: #999;
  }

/* --- sidebar --- */
/* toggle styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   overflow: hidden;
}

/*#wrapper.toggled {
   padding-left: 250px;
   overflow: scroll;
}*/

#sidebar-wrapper {
   z-index: 1000;
   position: absolute;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background: #000;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 90%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand{
   width: auto;
}
/* -- sidebar styling -- */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 2px;
}

.sidebar-nav li {
   text-indent: 15px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
   border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}
.no-margin{
   margin:0;
}

@media (min-width:768px) {
   #wrapper {
       padding-left: 250px;
   }
   .fixed-brand{
       width: 250px;
   }
   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 250px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 250px;
   }
   #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
   }
   #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
   }
   #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }

}

/* --------------*/
 /* tablets and desktop */
 @media only screen and (min-width: 361px) {
   html {
     overflow: hidden;
   }
   body {
     overflow: auto;
   }
 	p {
 		margin-bottom: 15px;
 		line-height: 20px;
 	}
 	#map-canvas{
 		height: 100%;
    margin-left: 250px;
 	}
 	#control{
 		float: left;
 		color: #D8D8DD;
 		width: 15%;
    height: 92%;
 		padding: 50px 30px 0px 30px;
 		border-right: 1px solid black;
    /*right: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: #000*/
 	}

 	#control input[type=text]{
 		/*width: 100%;
 		height: 40px;
 		font-size: 24px;
 		background-color: #6B7283;
 		border: 1px solid #BE757E;
    font-family: "Open Sans", sans-serif;*/
    font: 1em/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    /*margin-bottom: 30px;*/
 	}

 	.learnButton {
 		margin-top: 10px;
 		margin-bottom: 20px;
 		background: lightblue;
 		border: 0;
 		color: black;
 		height: 37px;
 		line-height: 37px;
 		width: 100%;
 		text-align: center;
 		cursor: pointer;
 	}

 	#mc_embed_signup{
 	margin-top: 30px;
 	float: left;
 	width: 300px;
 	}

 	#mc_embed_signup form label{
 		margin-bottom: 30px;
 		line-height: 20px;
 		clear: right;
 	}

 	#mc_embed_signup form input.email{
 		width: 100%;
 		height: 40px;
 		font-size: 24px;
 		background-color: #6B7283;
 		border: 1px solid #BE757E;
 	}
 }
 .review {
   padding-bottom: 5px;
 }
 /* phones */
 @media only screen and (max-width: 360px) {

 	p {
 		margin-bottom: 10px;
 		line-height: 26px;
 	}

 	#map-canvas{
 		height: 100%;
    width: 100%;
 	}

 	#control{
 		color: #D8D8DD;
 		padding: 20px 30px 10px 30px;
 	}

 	#control input[type=text]{
 		width: 100%;
 		height: 40px;
 		font-size: 24px;
 		background-color: #6B7283;
 		border: 1px solid #BE757E;
 	}

 	.learnButton {
 		float: left;
 		margin: 0px 10px 0px 10px;
 		margin-top: 20px;
 		margin-bottom: 20px;
 		background: #BE757E;
 		border: 0;
 		color: #D8D8DD;
 		height: 37px;
 		line-height: 37px;
 		width: 40%;
 		text-align: center;
 	}

 	#mc_embed_signup{
 		display: none;
 	}

 	#mc_embed_signup form label{
 		margin-bottom: 30px;
 		line-height: 20px;
 		clear: right;
 	}

 	#mc_embed_signup form input.email{
 		width: 100%;
 		height: 40px;
 		font-size: 24px;
 		background-color: #6B7283;
 		border: 1px solid #BE757E;
 	}
 }
/*----- display buttons on mobile only -----*/
 @media only screen and (max-width: 600px) {
   #map-canvas {
     width: 100%;
   }
 }
