<h1>All Bathrooms!!</h1>
<h4>Time is <%= Time.now %></h4>

<div class="row">
  <div class="col-md-4 col-sm-4">
    <form class="locate" action="/api/bathrooms/locate" method="get">
      <input type="text" id='latitude' name="coords[latitude]" placeholder="latitude">
      <input type="text" id='longitude' name="coords[longitude]" placeholder="longitude">
      <input type="text" id='radius' name="radius" placeholder="search radius?">
      <input type="submit" name="submit" value="submit">
    </form>
    <script type="text/javascript">

      $('form.locate').on('submit', function(e){
        e.preventDefault();
        var pos;
        if(navigator.geolocation) {
          console.log('geo locating')
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              long: position.coords.longitude
            }
            $('#latitude').val(pos.lat);
            $('#longitude').val(pos.long);

            var radius = $('#radius').val();
            $.ajax({
              method: 'get',
              url: '/api/bathrooms/locate',
              data: {coords : { latitude: pos.lat, longitude: pos.long }, radius: radius},
              success: function(data) {
                console.log(data);
              }
            })

          })

        }

      });

    </script>
    <ol>
      <% @bathrooms.each do |bathroom| %>
        <li><%= bathroom.name %>   -   <%= bathroom.address %></li>

        <script type="text/javascript">
          $bathroom = "<%= bathroom.name %>";
        </script>
      <% end %>
    </ol>
  </div>

  <div class="col-md-8 col-sm-8">
    <div id="map">

    </div>
    <div class="infobox-wrapper">
    <div id="infobox">
      The code is completely different, but we can stick a Ruby template in here for the view?
    </div>
  </div>
</div>
