<div id="control">
  <ul id="navbar">
  <li><a href="/">home</a></li>
  <!-- <li><a href="/users">users</a></li> -->
  <li><a href="/bathrooms">bathrooms</a></li>
  <% if current_user %>
    <li><a href="/users/profile">my profile</a></li>
    <li><a href="/logout">log out</a></li>
  <% else %>
    <li><a href="/login">log in</a></li>
    <li><a href="/signup">sign up</a></li>
  <% end %>
</ul>
<br>
		<h2>Locate a toilet</h2>
		<p>Your toilet paradise</p>
		<form method="get" id="chooseZip">
			<!-- <button type="submit" class="learnButton">Use current location</button> -->
			<button type="button" id="searchZip" class="learnButton">Search by Zip Code</button>
			<div class="clear"></div>
			<div class="zipSearch">
				<input id="textZip" type="text" name="zip" placeholder="enter your zip code" autofocus>
				<button type="submit" class="learnButton">Search</button>
			</div>
			<div class="clear"></div>
		</form>
    <form class="locate" action="/api/bathrooms/locate" method="get">
      <input type="hidden" id='latitude' name="coords[latitude]" placeholder="latitude">
      <input type="hidden" id='longitude' name="coords[longitude]" placeholder="longitude">
      <input type="hidden" id='radius' name="radius" value="1">
      <input type="submit" class="learnButton" name="submit" value="Bathrooms Near Me">
    </form>
    <script type="text/javascript">

      $('form.locate').on('submit', function(e){
        e.preventDefault();
        var pos;
        if(navigator.geolocation) {
          console.log('geo locating')
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              long: position.coords.longitude
            }
            $('#latitude').val(pos.lat);
            $('#longitude').val(pos.long);

            var radius = $('#radius').val();
            $.ajax({
              method: 'get',
              url: '/api/bathrooms/locate',
              data: {coords : { latitude: pos.lat, longitude: pos.long }, radius: radius},
              success: function(data) {
                console.log(data);
              }
            })
          })
        }
      });
    </script>
    <form action="/bathrooms/new"><input type="submit" value="Create a new bathroom" class="learnButton"></form>

		<div class="clear"></div>
		<div id="results"></div>
	</div>

	<!-- an empty div for the map -->
	<div id="map-canvas"></div>
