<!DOCTYPE html>
<html>
  <head>
	<title>Find Local Bathrooms</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script language="javascript" type="text/javascript" src="js/map.js"></script>
  </head>
  <body>

	<div id="control">
		<h2>Find bathrooms</h2>
		<p>We will helpt you locate closest bathrooms</p>
		<form method="get" id="chooseZip">
			<button type="submit" class="learnButton">Use current location</button>
			<button type="button" id="searchZip" class="learnButton">Search by Zip Code</button>
			<div class="clear"></div>
			<div class="zipSearch">
				<input id="textZip" type="text" name="zip" placeholder="enter your zip code" autofocus>
				<button type="submit" class="learnButton">Search</button>
			</div>
			<div class="clear"></div>
		</form>

    <form class="locate" action="/api/bathrooms/locate" method="get">
      <input type="hidden" id='latitude' name="coords[latitude]" placeholder="latitude">
      <input type="hidden" id='longitude' name="coords[longitude]" placeholder="longitude">
      <input type="hidden" id='radius' name="radius" value="1">
      <input type="submit" name="submit" value="Bathrooms Near Me">
    </form>
    <script type="text/javascript">

      $('form.locate').on('submit', function(e){
        e.preventDefault();
        var pos;
        if(navigator.geolocation) {
          console.log('geo locating')
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              long: position.coords.longitude
            }
            $('#latitude').val(pos.lat);
            $('#longitude').val(pos.long);

            var radius = $('#radius').val();
            $.ajax({
              method: 'get',
              url: '/api/bathrooms/locate',
              data: {coords : { latitude: pos.lat, longitude: pos.long }, radius: radius},
              success: function(data) {
                console.log(data);
              }
            })
          })
        }
      });
    </script>


		<div class="clear"></div>
		<div id="results"></div>
	</div>

	<!-- an empty div for the map -->
	<div id="map-canvas"></div>


  </body>
</html>
