<div class="container-fluid">
      <div class="row">
              <div class="col-md-3" id="sidebar"><h1>Add a new bathroom</h1>
                <br>
                <form class="" action="/bathrooms" method="post">
                  <input type="text" name="bathroom[name]" value="" placeholder="Bathroom Name">
                  <button type="submit" name="button">Add Bathroom</button>
                </form>
                <br>
      </div>
              <div class="col-md-9"><div class="map"></div></div>
      </div>
    </div>
