<h1>New Bathrooms!!</h1>
<h4>Time is <%= Time.now %></h4>

<form class="" action="/bathrooms" method="post">
  <label>name:</label>
  <input type="text" name="bathroom[name]" value="" placeholder="Bathroom Name">
  <button type="submit" name="button">Add Bathroom</button>
</form>
